header{
	background: #f29aaa;
	position: fixed;
	width: 100%;
	z-index: 99;
}
.containerHeader{
	display: flex;
	justify-content: space-between;
	align-items: center;
	.logo{
		width: 30%;
		display: flex;
		justify-content: flex-start;
		h2{
			color: white;
			font-weight: 900;
			font-style: italic;
			font-family: 'Trirong', serif;
			@include responsive-font(2vw, 12px, 40px);
			padding: 5px;
			margin: 0;
			border: 4px solid white;
			border-radius: 50%;
		}
	}
	.title{
		width: 30%;
		display: flex;
		justify-content: center;
		h1{
			color: white;
			font-weight: 900;
			font-style: italic;
			font-family: 'Trirong', serif;
			@include responsive-font(3vw, 16px, 50px);
			margin: 0;
		}
	}
	form {
	  display: flex;
	  width: 30%;
	  justify-content: flex-end;
	  #pac-input {
	    width: 10%;
	    -webkit-transition: width 0.4s ease-in-out;
	    transition: width 0.4s ease-in-out;
	    // display:inline-block;
	  }
	  #pac-input:before{
	    content: "\f105";
	    color: $Grey;
	    @include responsive-font(1.5vw, 10px, 20px);
	    float : right;
	    font-family: "FontAwesome";
	  }
	  /* When the input field gets focus, change its width to 100% */
	  #pac-input:focus {
	    width: 60%;
	    background: white;
	  }
	}
}



//footer starts here

footer{
	background: #f29aaa;
	position: fixed;
	width: 100%;
	margin: 0 auto;
	height: 5vh;
	bottom: 0;
	// z-index: 99;
	// clear: both;
}

.containerFooter{
	display: flex;
	justify-content: center;
	align-items: center;
	p{
		color: white;
		font-weight: 400;
		font-family: 'Trirong', serif;
		@include responsive-font(1.5vw, 10px, 30px);
		margin: 0;
		a{
			text-decoration: none;
			color: white;
			font-style: italic;
		}
	}
}