main{
  // height:100%;
  background: #fef6f3;
}

.containerMain{
  padding: 10% 0;
  //Map styling
  #map {
    margin:0 auto;
    width: 100%;
    height:300px;
    margin-bottom: 5%;
  }
  #flowerShop{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    .card{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
      background: white;
      box-shadow: 11px 10px 5px -7px grey;
      padding: 5%;
      .imageContainer{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items:center;
        img{
          height: auto;
          min-height: 50px;
          width: 100%;
          min-width: 50px;
        }
      }
      .busInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        width: 70%;
        h3{
          @include responsive-font(2vw, 12px, 40px);
          // margin: 0;
          text-align: center;
          width: 100%;
        }
        h3:after{
          content: '';
          border-bottom: 1px solid #aba2ab;
          width: 60%;
          padding-top: 15px;
          display: block;
          margin: 0 auto;
        }
        h4{
          @include responsive-font(1.4vw, 10px, 30px);
          // margin: 10px 0 0 0;
          text-align: center;
        }
      }
    }


   
    
  }
}

  #selector {
    color: #fff;
    background-color: #4d90fe;
    margin-left: 12px;
    padding: 8px 11px 8px 11px;
    border-radius:50%;
    @include responsive-font(1vw, 9px, 16px);
  }

form {
  display: flex;
  justify-content: flex-end;
  #pac-input {
    width: 10%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    // display:inline-block;
  }
  #pac-input:before{
    content: "\f105";
    color: $Grey;
    @include responsive-font(1.5vw, 10px, 20px);
    float : right;
    font-family: "FontAwesome";
  }
  /* When the input field gets focus, change its width to 100% */
  #pac-input:focus {
    width: 60%;
    background: white;
  }
}










