article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

.limit-min-max {
  font-size: 3vw; }
  @media (max-width: 666.66667px) {
    .limit-min-max {
      font-size: 20px; } }
  @media (min-width: 1666.66667px) {
    .limit-min-max {
      font-size: 50px; } }

header {
  background: #efc3c0;
  position: fixed;
  width: 100%;
  z-index: 99; }

.containerHeader {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }
  .containerHeader .logo {
    width: 20%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
        justify-content: flex-start; }
    .containerHeader .logo h2 {
      color: white;
      font-weight: 900;
      font-style: italic;
      font-family: 'Trirong', serif;
      font-size: 1.5vw;
      padding: 2%;
      margin: 0;
      border: 3px solid white;
      border-radius: 50%;
      width: 50px;
      text-align: center; }
      @media (max-width: 733.33333px) {
        .containerHeader .logo h2 {
          font-size: 11px; } }
      @media (min-width: 2400px) {
        .containerHeader .logo h2 {
          font-size: 36px; } }
  .containerHeader .title {
    width: 45%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
    .containerHeader .title h1 {
      color: white;
      font-weight: 900;
      font-style: italic;
      font-family: 'Trirong', serif;
      font-size: 3vw;
      margin: 0; }
      @media (max-width: 533.33333px) {
        .containerHeader .title h1 {
          font-size: 16px; } }
      @media (min-width: 1666.66667px) {
        .containerHeader .title h1 {
          font-size: 50px; } }
    .containerHeader .title p {
      color: white;
      font-weight: 900;
      margin-top: 0;
      font-size: 1vw; }
      @media (max-width: 800px) {
        .containerHeader .title p {
          font-size: 8px; } }
      @media (min-width: 1800px) {
        .containerHeader .title p {
          font-size: 18px; } }
  .containerHeader form {
    display: -ms-flexbox;
    display: flex;
    width: 25%;
    -ms-flex-pack: end;
        justify-content: flex-end;
    position: relative; }
    .containerHeader form #pac-input {
      width: 45px;
      transition: width 0.4s ease-in-out;
      border-radius: 30px;
      background: transparent;
      border: 3px solid white; }
    .containerHeader form #pac-input:focus {
      width: 60%;
      background: lightgrey;
      outline: none; }
    .containerHeader form .fa-search {
      position: absolute;
      top: 13px;
      right: 75px;
      font-size: 1vw;
      color: white; }
      @media (max-width: 1000px) {
        .containerHeader form .fa-search {
          font-size: 10px; } }
      @media (min-width: 2000px) {
        .containerHeader form .fa-search {
          font-size: 20px; } }
    .containerHeader form #selector {
      color: #fff;
      background-color: #4d90fe;
      margin-left: 10px;
      padding: 5% 0;
      border-radius: 30px;
      font-size: 1vw;
      line-height: 1vw;
      font-weight: 900;
      border: 3px solid white;
      width: 50px; }
      @media (max-width: 1000px) {
        .containerHeader form #selector {
          font-size: 10px; } }
      @media (min-width: 2000px) {
        .containerHeader form #selector {
          font-size: 20px; } }

footer {
  background: #efc3c0;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  height: 5vh;
  bottom: 0; }

.containerFooter {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .containerFooter p {
    color: white;
    font-weight: 400;
    font-family: 'Trirong', serif;
    font-size: 1.5vw;
    margin: 0; }
    @media (max-width: 666.66667px) {
      .containerFooter p {
        font-size: 10px; } }
    @media (min-width: 2000px) {
      .containerFooter p {
        font-size: 30px; } }
    .containerFooter p a {
      text-decoration: none;
      color: white;
      font-style: italic; }

@media (max-width: 480px) {
  .containerHeader {
    -ms-flex-direction: column;
        flex-direction: column; }
    .containerHeader .logo {
      display: none; }
    .containerHeader .title {
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center; }
      .containerHeader .title h1 {
        color: white;
        font-weight: 900;
        font-style: italic;
        font-family: 'Trirong', serif;
        font-size: 3vw;
        margin: 0; } }
      @media (max-width: 480px) and (max-width: 533.33333px) {
        .containerHeader .title h1 {
          font-size: 16px; } }
      @media (max-width: 480px) and (min-width: 1666.66667px) {
        .containerHeader .title h1 {
          font-size: 50px; } }

@media (max-width: 480px) {
      .containerHeader .title p {
        color: white;
        font-weight: 900;
        margin-top: 0;
        font-size: 1vw; } }
      @media (max-width: 480px) and (max-width: 800px) {
        .containerHeader .title p {
          font-size: 8px; } }
      @media (max-width: 480px) and (min-width: 1800px) {
        .containerHeader .title p {
          font-size: 18px; } }

@media (max-width: 480px) {
    .containerHeader form {
      width: 100%;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      position: relative; }
      .containerHeader form #pac-input {
        width: 45px;
        transition: width 0.4s ease-in-out;
        border-radius: 30px;
        background: transparent;
        border: 3px solid white; }
      .containerHeader form #pac-input:focus {
        width: 60%;
        background: lightgrey;
        outline: none; }
      .containerHeader form .fa-search {
        position: absolute;
        top: 18px;
        right: 56%;
        font-size: 1vw;
        color: white; } }
      @media (max-width: 480px) and (max-width: 1000px) {
        .containerHeader form .fa-search {
          font-size: 10px; } }
      @media (max-width: 480px) and (min-width: 2000px) {
        .containerHeader form .fa-search {
          font-size: 20px; } }

@media (max-width: 480px) {
      .containerHeader form #selector {
        color: #fff;
        background-color: #4d90fe;
        margin-left: 10px;
        padding: 5% 0;
        border-radius: 30px;
        font-size: 1vw;
        line-height: 1vw;
        font-weight: 900;
        border: 3px solid white;
        width: 50px; } }
      @media (max-width: 480px) and (max-width: 1000px) {
        .containerHeader form #selector {
          font-size: 10px; } }
      @media (max-width: 480px) and (min-width: 2000px) {
        .containerHeader form #selector {
          font-size: 20px; } }

main {
  background-image: url("/images/background-3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }

.containerMain {
  padding: 10% 0; }
  .containerMain #map {
    margin: 0 auto;
    width: 100%;
    height: 300px;
    margin: 5% 0; }
  .containerMain #flowerShop {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%; }
    .containerMain #flowerShop .card {
      width: 30%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      margin-bottom: 50px;
      background: white;
      box-shadow: 11px 10px 5px -7px grey;
      padding: 1%; }
      .containerMain #flowerShop .card .imageContainer {
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center; }
        .containerMain #flowerShop .card .imageContainer img {
          height: auto;
          min-height: 50px;
          width: 100%;
          min-width: 50px; }
      .containerMain #flowerShop .card .busInfo {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center; }
        .containerMain #flowerShop .card .busInfo h3 {
          font-size: 1.7vw;
          margin-bottom: 0;
          text-align: center;
          width: 100%; }
          @media (max-width: 705.88235px) {
            .containerMain #flowerShop .card .busInfo h3 {
              font-size: 12px; } }
          @media (min-width: 1764.70588px) {
            .containerMain #flowerShop .card .busInfo h3 {
              font-size: 30px; } }
        .containerMain #flowerShop .card .busInfo h3:after {
          content: '';
          border-bottom: 1px solid #aba2ab;
          width: 60%;
          padding-top: 15px;
          display: block;
          margin: 0 auto; }
        .containerMain #flowerShop .card .busInfo h4 {
          font-size: 1.2vw;
          text-align: center; }
          @media (max-width: 750px) {
            .containerMain #flowerShop .card .busInfo h4 {
              font-size: 9px; } }
          @media (min-width: 2000px) {
            .containerMain #flowerShop .card .busInfo h4 {
              font-size: 24px; } }

@media (max-width: 767px) {
  .containerMain {
    padding: 10% 0; }
    .containerMain #flowerShop .card {
      width: 45%; } }

.wrapper {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto; }

body {
  letter-spacing: 1px;
  font-family: 'Trirong', serif;
  font-weight: 300;
  color: #566167; }

h2, h3, h4, h5, h6 {
  font-weight: 400; }

.js div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: white url("/images/squares.gif") no-repeat center center; }

@media (max-width: 767px) {
  .wrapper {
    width: 90%; } }
